
body.dark{
    --top:#27272A;
    --side:#3F3F46;
    --hover:#27272A;
    --back:#1C1917;
    --color:white;
}

body{
    --top:coral;
    --side:#CBD5E1;
    --hover:#94A3B8;
    --back:white;
    --color:black;
    margin: -.01%;
    display: grid;
    grid-template-rows: 15vh 75vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--back);
    color: var(--color);
    transition: 1s;
}
.header{
   
   background-color: var(--top);
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   font-size: 2.5rem;
}
.header>*{
    padding: 2%;
}
.material-symbols-rounded{
    
    font-size: 2.5rem;
}
.material-symbols-rounded:hover{
    font-weight: 900;
}
.sidebar.expand{
    display: flex;
}
.sidebar{
    
    background-color: var(--side); 
    display: none;
    flex-direction: column;
    padding: 3%;
}
.content{
    display: flex;
    
   
}
.sidebar>:nth-child(4){
    padding: 1%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1.4rem;
}
.btn1{
    display: flex;
    justify-content: flex-start;
    border: none;
    padding: 1%;
    font-size: larger;
    border-radius: 5px;
    background-color: var(--side) ;
    color: var(--color);
}
.active{
    background-color: var(--hover);
}


.btn1:hover{
    background-color: var(--hover);

}
.main{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    flex-direction: column;
}

.content{
    background-color: var(--back);
}

.mode{
   position: fixed;
   padding: 2px;
   right: 2%;
   bottom: 2%;
   background-color: var(--top);
   color: var(--color);
   border-radius: 5px;
   transform: scale(1);
   transition: 1s;
}
.mode:hover{
  transform: scale(1.1);
}
.popUpContainer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    
}
.popUp{
    width: 70%;
    height: 60%;
    display: flex;
    background-color: white;
    border-radius: 5px;
    position: relative;
}
.cancel{
    color: var(--top);
    cursor: pointer;
    transition: 1s;
    transform: scale(1);
    position: absolute;
    top: 5px;
    right: 5px;
}
.cancel:hover{
    transform: scale(1.03);
    
}

@media(min-width: 600px){
  .main{
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100vh;
  } 
  .sidebar{
    display: flex;
  }
 .popUp{
    width: 40%;
    height: 50%;
 } 
.sidebar>*{
    margin: 3%;
    font-size: 1.5rem;
    
}

.sidebar>:nth-child(4){font-size: 2rem;}
 .header{
    font-weight: 1000;
 }
 .menu{
    display: none;
 }

}