
body.dark{
    --top:#27272A;
    --side:#3F3F46;
    --hover:#27272A;
    --back:#1C1917;
    --color:white;
}

body{
    --top:coral;
    --side:#CBD5E1;
    --hover:#94A3B8;
    --back:white;
    --color:black;
    margin: -.01%;
    
    
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--back);
    color: var(--color);
    transition: 1s;
    position: relative;
}
.header{
   position: fixed;
   top:0;
   width: 100vw;
   height: 10vh;
   background-color: var(--top);
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   font-size: 2.5rem;
}
.header>*{
    padding: 2%;
}
.material-symbols-rounded{
    cursor: pointer;
    font-size: 2.5rem;
}
.material-symbols-rounded:hover{
    font-weight: 900;
}

.sidebar{
    position: fixed;
    background-color: var(--side); 
    display: flex;
    bottom: 0;
    padding: 1%;
    
    width: 100vw;
    font-size: .7rem;
    min-height: 8vh;  
    justify-content: space-around;
}

.proj_list{
    display: flex;
    position: fixed;
    justify-content: flex-start;
    
    font-size: 1.2rem;
    top:10vh;
    left: 0;
    width: 100vw;
    height: 9vh;
    background-color: var(--side);

    
}

.proj_list>div{
    display: flex;
    overflow: scroll;
    width: fit-content;
    border: 2px solid grey;
    padding: 1%;
    border-radius: 15px;
    margin: 1%;
}
.proj_list>div>div+div{
    margin-left: 15%;
    background-color: var(--top);
    width: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.material-symbols-rounded{
    font-size: 1.7rem;
}
.sidebar>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}



.btn1{
    display: flex;
    justify-content: flex-start;
    border: none;
    padding: 1%;
    font-size: larger;
    cursor: pointer;
    background-color: rgba(0,0,0,.01) ;
    color: var(--color);
}
.sidebar>div{
    border-radius: 5px;
    
}

.active{
    background-color: var(--side);
}




.content{
    padding-top: 21vh;
    display: flex;
    flex-direction: column;
    
   padding-left: 7%;
    background-color: var(--back);
}

.mode{
   display: flex;
   justify-content: center;
   align-items: center;
   
   position: fixed;
   right: 2%;
   cursor: pointer;
   background-color: var(--side);
   color: var(--color);
   border-radius: 5px;
   transform: scale(1);
   transition: 1s;
}
.mode:hover{
  transform: scale(1.1);
}
.popUpContainer{
    position: fixed;
    display: none;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    
}
.popUp{
    width: 70%;
    height: 60%;
    display: flex;
    
    overflow: scroll;
    padding: 5%;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    position: relative;
    background-color: var(--back);
    color: var(--color);
}

.popUp>div{
    display: flex;
    flex-direction: column-reverse;
}
.popUp>button{
    padding: 2%;
    margin: 2%;
    width: 100%;
    font-size: 1rem;
}
input{
    padding: 2%;
    margin: 2%;
    width: 95%;
    font-size: 1rem;
    
}
textarea{
    padding: 2%;
    margin: 2%;
    width: 95%;
    font-size: 1rem;
    min-height: 20px;
    
}
#cancel{
    color: coral;
    cursor: pointer;
    transition: 1s;
    transform: scale(1);
    position: absolute;
    top: 5px;
    right: 5px;
}
.cancel:hover{
    transform: scale(1.03);
    
}
.btn{
    
    display: none;
    
}
/* --------------------------------------------content page--------------------------------------------------------------- */
.home_header,.today_header,.week_header{
    display: flex;
    width: 90%;
    height: 3%;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 3%;
    padding-bottom: 2.5%;
    border-bottom: 1px solid var(--top);
}

.add_today,.add_week{
    width: 90%;
    height: 20%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    
}
.todo{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 10fr  3fr 1fr 1fr;
    border-bottom: 1px outset rgba(170, 166, 166,.2);
    margin-bottom: 2%;
    width: 90%;
    position: relative;
}
.todo>.material-symbols-rounded{
    font-size: 1.3rem;
}
.due_date{
    color: red;
    
    
}
.checked::after{
    position: absolute;
    content: '';
    background-color: red;
    height: 1px;
    width: 100%;
}
.checked{
    opacity: .4;
}



@media(min-width: 600px){
   html,body{
    height: 100%;
   }
    body{
        display: grid;
        grid-template-rows: 1fr 8fr;
        grid-template-columns: 1fr 3fr;
        
        position:initial;
    }
    .header>*{
        padding: 1%;
    }
  .proj_list{
    margin-top: -20%;
    height: fit-content;
    position: relative;
     display: flex;
     flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    }
   
    .proj_list>div{
        display: flex;
        border-style: none;
        border-bottom: 1px solid grey;
        justify-content: space-between;
        width: 90%;
        
        margin: 2%;
    }
    
    
    .proj_list>div>:nth-child(2){
        background-color: var(--top);
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-left: 0%;
    }
  .header{
    font-size: 2.5rem;
    font-weight: 900;
    position: initial;
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    
  }
  .btn{
    margin-top: 10%;
    display: flex;
    height: 10%;
    justify-content: flex-start;
    padding-left: 2%;
    font-size: 1.7rem;
    background-color: var(--side);
    border-style: none ;
  }
 .popUp{
    width: 40%;
    height: 50%;
    
 }


.sidebar{
    padding-top: 4%;
    padding-left: 6%;
    position: relative;
    flex-direction: column;
    font-size: 1.2rem;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    min-height: 100%;
    justify-content: flex-start;
    
}
.sidebar>div{
    width: 80%;
    
    margin-bottom: 4%;
    flex-wrap:nowrap;
    justify-content: flex-start;
    
}
.sidebar>div:hover{
    background-color: var(--hover);
    
}
.sidebar .proj_list:hover{
 background-color: var(--side);
}

.sidebar .material-symbols-rounded{
    font-size: 2rem;
    padding-top: .5%;
}


.active{
    background-color: var(--hover);
   
}
.content{
    padding: 5%;
    position: initial;
    background-color: var(--back);
    grid-row: 2/3;
    grid-column: 2/3;
   
   
   justify-content: flex-start;
   align-items: flex-start;
    
}
.mode .material-symbols-rounded{
    font-size: 1.7rem;
    
}
.mode{
    padding: 0.5%;
}
.home_header,.today_header,.week_header{
  width: 67vw;
  padding-bottom: 1%;
  
}
.add_today,.add_week{
    width: 67vw;
    padding-top: 3px;  
}
.todo{
    width: 99.8%;
}
}
.proj_list>div:hover{
   cursor: pointer;
 background-color: var(--hover);
}
.projPage{
    width: 100%;
    overflow: auto;
}